body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#outer {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 100%;
    /* height: 100%; */
    /* text-align: center; */
    background-color: #252627;
    padding: 2px 2px 2px 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: 5px; */
    /* border-radius: 5px; */
    font-family: 'Poppins', sans-serif;
    /* top: 380px; */
    /* z-index: -1; */
    overflow-y: auto;
}

.switchlab {
    position: absolute;
    display: inline;
    color: white;
    vertical-align: middle;
    padding: 10px 10px;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
}

.toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: #4CD964;
}

.toggle:checked:before {
    left: 32px;
}

#exp {
    color: #707070;
    padding-left: 10px;
    padding-right: 10px
}

#dt {
    color: #707070;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}