body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}
.sidebar{
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 408px;
  height: 90%;
  /* background-color: pink; */
  z-index: 1;
}
.menu {
    float: top;
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 10px #0000006a;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.85);
    /* center vertically on page */
    top: 1%;
    left: 1%;
    /* rounded corners */
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .legend {
    float: top;
    height: auto;
    width: 408px;
    box-shadow: 0px 0px 10px #0000006a;
    /* z-index: 1; */
    background-color: rgba(255, 255, 255, 0.85);
    /* center vertically on page */
    top: 1%;
    left: 1%;
    /* rounded corners */
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
.map {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }


